.post-faq {
  padding: 20px;
  margin-bottom: 15px;
  background-color: var(--custom-color-2);
}
.faq-question {
  margin-bottom: 30px;
}
h2.faq-title {
  font-size: 31px;
  font-weight: 600;
  text-align: center;
}
h3.faq-ques {
  font-size: 23px;
  font-weight: 500;
  line-height: 1.2;
}
.post-faq .faq-question:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .post-faq {
    padding: 20px 12px;
  }
  h2.faq-title {
    font-size: 27px;
    line-height: 1.3;
  }
}
